#slider-container {
    height: 100px;
    text-align: center;
    font-family: 'VT323', sans-serif;
    background-color: #070707;
    
}

.switch-label {
    display: inline-block;
    color: #33cc00;
}

.switch {
    position: relative;
    top: 20px;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #373a35;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 25px;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
}

.rc-checkbox-checked + .slider {
    background-color: #ff1d00;
}

.rc-checkbox-checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);

}

